---
---

@import "{{ site.theme }}";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#header h1 {
  margin:0;
}

ul {
  margin:0 0 10px;
}



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#069;
	border:25px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.button-text::after,
.button-text{
  margin-top: 10px;
  color:#FFF;
  scroll-behavior: smooth;
}
